<header>
    <h1>Sales Store</h1>
    <h2>Welcome, Johnny Cash!</h2>
    <div class='navbar'>
    <p><a href='/'>Home</a> | <a href='/notes/add'>Start a new transaction</a> | <a href="/customer/customerAdd">Sign in or Create account</a></p>
    </div>
    </header>